<accordion>
  <accordion-group heading="{{app[0]}}" *ngFor="let app of configs | pairs">
    <accordion-group heading="{{labelProfiles[0]}}" *ngFor="let labelProfiles of app[1] | pairs">
    <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add
      Item
    </button>
    <div *ngFor="let profile of labelProfiles[1]">{{profile}}</div>
  </accordion-group>
  </accordion-group>
</accordion>
<div style="width: 400px; height: 400px;">
  <json-editor [options]="editorOptions" [data]="data"></json-editor>
</div>